<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forensic PMI calculator version 2.0</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/pmiVersion2.css}">
    
</head>

<body>
   
    <div class="cyber-workplace">

<div id="window-alpha"  class="retro-window">
<div class="window-header">
<span class="Window-title">Forensic Invigilator</span>
<span class="window-close">-</span>
</div>
<div class="window-body">
    <h2>EXECUTION OVERRIDE</h2>
    <p>Launch post mortem protocol</p>
    <button class="yes-button">Yes</button>
</div>
</div>

<!--new window goes here-->
<!--new window goes here-->
<div id="window-beta" class="retro-window hidden">  
    <div class="window-header">
        <span class="window-title">Post Mortem Protocol</span>
        <span class="window-close">-</span>
    </div>
    
    <div class="window-body">
        <p class="headline">Awaiting biometric submissions...</p>
        <p class="ask">Enter the metrics below to run the post mortem analysis report</p>

        <form action="/calculate" method="POST"> 
            <div class="form-group">
                <label for="victimName">Victim Name: </label>
                <input type="text" id="victimName" name="victimName" required placeholder="e.g: Olly Doe">
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox" id="notSure" name="isBodyTempRange" onchange="toggleTempInput()">
                    Not sure of body temperature
                </label>
            </div>

            <div id="rangeInput" style="display:none;"> 
                <label for="minBodyTemp">Minimum Body Temperature: </label>
                <input type="number" id="minBodyTemp" name="minBodyTemp" required th:value="${bodyMinTemp}">

                <label for="maxBodyTemp">Maximum Body Temperature: </label>
                <input type="number" id="maxBodyTemp" name="maxBodyTemp" required th:value="${bodyMaxTemp}">
            </div>

            <div id="singleValue">
                <label for="singleBodyTemp">Body Temperature: </label>
                <input type="number" step="0.1" id="singleBodyTemp" name="singleBodyTemp" required th:value="${bodyTemp}">  
            </div>

            <div class="form-group">
                <label>
                    <input type="checkbox" id="notSureRange" name="isAmbienttempRange" onchange="toggleAmbientRange()">
                    Not sure of the ambient Temperature 
                </label>
            </div> 

            <div class="ambientRange" id="ambientRange" style="display:none;"> 
                <label for="minAmbient">Minimum Ambient Temperature: </label>
                <input type="number" step="0.1" id="minAmbient" name="minAmbient" required th:value="${minAmbientTemp}">

                <label for="maxAmbient">Maximum Ambient Temperature: </label>
                <input type="number" step="0.1" id="maxAmbient" name="maxAmbient" required th:value="${maxAmbientTemp}">
            </div>

            <div id="singleBitchAmbient">
                <label for="singleAmbient">Ambient Temperature: </label>
                <input type="number" step="0.1" name="singleAmbient" id="singleAmbient" required th:value="${singleAmbient}">
            </div>

            <div class="form-group">
                <label for="livorColor">Livor Color: </label>
                <input type="text" id="livorColor" name="livorColor" required placeholder="e.g. Purple">
            </div>

            <div class="form-group">
                <label for="isLivorFixed">Is Livor Fixed: </label>
                <select id="isLivorFixed" name="isLivorFixed">
                    <option value="true">YES</option>
                    <option value="false">NO</option>
                </select>
            </div>

            <div class="form-group">
                <label for="rigorJaw">Rigor Stage - Jaw</label>
                <select id="rigorJaw" name="rigor0">
                    <option value="0">0 - Absent</option>
                    <option value="1">1 - Minimal/Settling</option>
                    <option value="2">2 - Moderate/Developing</option>
                    <option value="3">3 - Fully rigid/Peak</option>
                </select>
            </div>

            <div class="form-group">
                <label for="rigorArm">Rigor Stage - Arms</label>
                <select id="rigorArm" name="rigor1">
                    <option value="0">0 - Absent</option>
                    <option value="1">1 - Minimal/Settling</option>
                    <option value="2">2 - Moderate/Developing</option>
                    <option value="3">3 - Fully rigid/Peak</option>
                </select>
            </div>

            <div class="form-group">
                <label for="rigorlegs">Rigor Stage - Legs</label>
                <select id="rigorlegs" name="rigor2">
                    <option value="0">0 - Absent</option>
                    <option value="1">1 - Minimal/Settling</option>
                    <option value="2">2 - Moderate/Developing</option>  
                    <option value="3">3 - Fully rigid/Peak</option>
                </select>
            </div>

            <button type="submit">Run Analysis Report</button>
        </form>

        <div class="result" th:if="${report}">
            <h2>Analysis Report</h2>
            <pre th:text="${report}"></pre>
        </div>
    </div>
</div>


<script>
function toggleAmbientRange(){//starting of ambient range js
    var notSure=document.getElementById("notSureRange").checked;
    var ambientRange=document.getElementById("ambientRange");
    var ambientSingle=document.getElementById("singleBitchAmbient");

    if(notSure){
        ambientRange.style.display="block";//if range show the range label
        ambientSingle.style.display="none";
    }else{
        ambientRange.style.display="none";
        ambientSingle.style.display="block";
    }
}//end of ambient range js



function toggleTempInput(){//this js is for body temp
var isNotSure=document.getElementById("notSure").checked;
var rangeDiv= document.getElementById("rangeInput");
var singleDiv=document.getElementById("singleValue");

if(isNotSure){
    rangeDiv.style.display="block";//show
    singleDiv.style.display="none";//hide
}else{
    rangeDiv.style.display="none";//show
    singleDiv.style.display="block";//hide
}
}//end of body temp js

//this is for minimizing and opening style
document.querySelector('.yes-button').addEventListener('click', () => {//this tells that when they select yes, add an action
const alpha=document.getElementById('window-alpha');//look up the id of the first window and save it in const var called alpha
const beta=document.getElementById('window-beta');//look up the seconf window by its id number we had and save it in var called beta

//fire out the minimize effect in the first window
alpha.classList.add('exit-minimize');//add the css style exit minimize to old window, making old window shrink down

//tell the browser to wait for the animation to stop before it does the second one
alpha.addEventListener('animationend', () => {//tells the browser to wait and listen for old css style to end before doing the next one
alpha.style.display='none';//when animation is done, it is hidden from the webpage completely
beta.classList.remove('hidden');//remove the hidden css class from new window beta, making it ready to be seen in page
beta.classList.add('entry-zoom');//fires the css style to the new window
},{once: true})//tells the browser to delete animationed listener right after it runs one single time to remove wastage of space

});
</script>

</body>
</html>
